body {
  font-family: Arial;
  background-color: cadetblue;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
  background-color: azure;
  padding: 15px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

td {
  padding: 5px;
  border: 3px solid;
}

#diamond {
  border: 5px solid cornflowerblue;
  background-color: lightgrey;
  height: 50px;
  float: left;
  width: 30%;
  margin-left: 330px;
}

#pearl {
  border: 5px solid lightpink;
  background-color: lightgrey;
  height: 50px;
  float: right;
  width: 30%;
  margin-right: 330px;
}
